{{ ansible_managed | ansible.builtin.comment }}
---
services:
  adguard:
    image: {{ adguard_docker_image }}
    container_name: adguard
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "100m"
        max-file: "10"
    network_mode: host
    volumes:
    - {{ adguard_docker_path }}/conf:/opt/adguardhome/conf:rw
    - {{ adguard_docker_path }}/work:/opt/adguardhome/work:rw
    - /etc/localtime:/etc/localtime:ro
